:root{
    --fondo: #e4e7e7;
    --oscuro: #111c2d;
    --principal-claro: #497cba;
    --principal: #2a5c97;
    --mas-claro: #7db1cc;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", Roboto;
}

*::before, *::after {
    box-sizing: border-box;
}


a{
    text-decoration: none;
}

.bloque {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    background-color: var(--fondo);
    gap: 10px
}

.entero{
    min-height: 100vh;
    border-bottom: 1px solid #4d4d4d;
}

.columna {
    padding: 20px 10px;
}

.contenidoColumna{
    width: 100%;
    display: flex;
    border-radius: 20px 20px 20px 60px;
    height: 95vh;
    padding: 20px 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 10px;
    background-color: #fff;
    box-shadow: 1px 5px 16px #888;
}
.contenidoColumna h2{
    visibility: hidden;
}

.python{
    color: var(--oscuro)
}

.developer{
    font-style: italic;
    color: var(--principal);
}

.btn{
    display: none;
}

.martin {
    font-style: italic;
    color: var(--principal);
    font-size: 75px;
    font-weight: 900;
}

.miselli{
    color: var(--oscuro);
    font-style: normal;
}

.divPags{
    display: flex;
    gap: 20px;
}

.pags{
    margin-left: 5px;
    font-size: 30px;
    color: var(--principal)
}

.pags:hover{
    color: var(--oscuro);
}

h1 {
    text-align: center;
    margin: 0;
    color: rgb(255, 255, 255);
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
nav ul a {
    text-decoration: none;
    color: var(--principal);
    margin: 0 10px;
    padding: 5px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    margin-top: 2px;
}
  
nav ul a:hover {
    background-color: var(--oscuro);
    color: var(--mas-claro);
}

.nav-link .active{
    background-color: var(--oscuro);
    color: var(--mas-claro);
}

.navbar{
    display: flex;
    flex-direction: column;
}

.primero{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
}

.fotoYo{
    border-radius: 60px;
    margin: 0px auto;
    width: 300px;

}
  
.il{
    width: 50px;
    margin: 0px 5px;
    transition: all .3s ease;
}

.il:hover{
    transform: rotate(10deg); /* Aplica una rotación de 10 grados en sentido horario */
}

.ol:hover{
    transform: rotate(-10deg); /* Aplica una rotación de 10 grados en sentido horario */
}

.imag{
    display: flex;
    margin: 5px auto;
}

.flechas{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5px;
    right: 5px;
    align-items:center;
    font-size: 20px;
}

.flechas a{
    color: white;
}

.flechas a:hover{
    color: grey;
    transform: scale(1.2);
    transition: all .3s ease;
}

.saludo{
    margin: 0 auto;
    font-size: 50px;
    color: var(--oscuro);
}

#yo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    color: var(--principal);
    gap: 20px;
}

#yo p{
    font-size: x-large;
}

#yo span{
    color: var(--oscuro);
    font-weight: bold;
}

#yo h3{
    font-size: x-large;
    color: (var(--oscuro));
    text-align: center;
}

.costadito{
    display: none;
}
/*IMPLEMENTAR .estar*/
.costadito .estar{
    position: fixed;
    width: 34.06px;
    height: 100px;
    display: inline;
    bottom: calc(50% - 100px);
    right: 10px;
    border-radius: 10px 10px 10px 20px;
    box-shadow: 1px 5px 16px #888;
}

@media (max-width: 1000px){
    .contenidoColumna{
        height: 100px;
    }

    .contenidoColumna h2{
        display: none;
        visibility: visible;
    }

    .bloque{
        display: flex;
        flex-direction: column;
    }

    .navbar{
        display: flex;
        flex-direction: row;
    }

    .contenidoColumna h1{
        display: none;
    }

    .columna{
        width: 100%;
    }

    .entero{
        padding: 10px 10px;
    }
}

@media (max-width: 650px){
    
    .divPags{
        display: flex;
        position: fixed;
        right: 10px;
        bottom: 5px;
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
    
    .fotoYo{
        width: 200px
    }
       
}

@media (max-width: 553px){
    
    .contenidoColumna h2{
        display: inline;
    }

    .btn{
        display: inline;
    }

    .contenidoColumna{
        flex-direction: row;
    }

    .navbar {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenidoColumna nav{
        display: flex;
        position: fixed;
        height: calc(100vh - 140px);
        top: -100vh;
        background-color: var(--principal);
        width: 98%;
        flex: column;
        transition: all .4s;
        justify-content: center;
    }

    .contenidoColumna li{
        margin: 20px;
        color: #e9f8ff;
        font-size: x-large;
        font-weight: bold;
    }

    .contenidoColumna li:hover{
        background-color: var(--oscuro);
        color: var(--principal-claro);
    }

    .contenidoColumna .aparecer{
        top: 140px;
        border-radius: 60px 20px 20px 20px;
        box-shadow: -1px -5px 16px #888;
    }
}