:root{
    --fondo: #e4e7e7;
    --oscuro: #111c2d;
    --principal-claro: #497cba;
    --principal: #2a5c97;
    --mas-claro: #7db1cc;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", Roboto;
}

*::before, *::after {
    box-sizing: border-box;
}


a{
    text-decoration: none;
}

.bloque {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    background-color: var(--fondo);
    gap: 10px
}

.entero{
    min-height: 100vh;
    border-bottom: 1px solid #4d4d4d;
}

.columna {
    padding: 20px 10px;
}

.contenidoColumna{
    width: 100%;
    display: flex;
    border-radius: 20px 20px 20px 60px;
    height: 95vh;
    padding: 20px 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 10px;
    background-color: #fff;
    box-shadow: 1px 5px 16px #888;
}
.contenidoColumna h2{
    visibility: hidden;
}

.python{
    color: var(--oscuro)
}

.developer{
    font-style: italic;
    color: var(--principal);
}

.btn{
    display: none;
}

.martin {
    font-style: italic;
    color: var(--principal);
    font-size: 75px;
    font-weight: 900;
}

.miselli{
    color: var(--oscuro);
    font-style: normal;
}

.divPags{
    display: flex;
    gap: 20px;
}

.pags{
    margin-left: 5px;
    font-size: 30px;
    color: var(--principal)
}

.pags:hover{
    color: var(--oscuro);
}

h1 {
    text-align: center;
    margin: 0;
    color: rgb(255, 255, 255);
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
nav ul a {
    text-decoration: none;
    color: var(--principal);
    margin: 0 10px;
    padding: 5px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    margin-top: 2px;
}
  
nav ul a:hover {
    background-color: var(--oscuro);
    color: var(--mas-claro);
}

.active{
    background-color: var(--oscuro);
    color: var(--mas-claro);
}

.navbar{
    display: flex;
    flex-direction: column;
}

.primero{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
}

.fotoYo{
    border-radius: 60px;
    margin: 0px auto;
    width: 300px;
    box-shadow: 1px 5px 16px #888;

}
  
.il{
    width: 50px;
    margin: 0px 5px;
    transition: all .3s ease;
}

.il:hover{
    transform: rotate(10deg); /* Aplica una rotación de 10 grados en sentido horario */
}

.ol:hover{
    transform: rotate(-10deg); /* Aplica una rotación de 10 grados en sentido horario */
}

.imag{
    display: flex;
    margin: 5px auto;
    justify-content: center;
}

.flechas{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5px;
    right: 5px;
    align-items:center;
    font-size: 20px;
}

.flechas a{
    color: white;
}

.flechas a:hover{
    color: grey;
    transform: scale(1.2);
    transition: all .3s ease;
}

.saludo{
    margin: 0 auto;
    font-size: 50px;
    color: var(--oscuro);
}

#sobremi{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    color: var(--principal);
    gap: 20px;
}

#sobremi p{
    font-size: x-large;
}

#sobremi span{
    color: var(--oscuro);
    font-weight: bold;
}

#sobremi h3{
    font-size: x-large;
    color: (var(--oscuro));
    text-align: center;
}

.costadito{
    display: none;
}

.iconcito{
    color: var(--principal-claro);
}

.iconcito:hover{
    color: var(--oscuro);
}

#educacion h2{
    color: var(--oscuro);
    font-weight: bold;
    font-size: xx-large;
    text-decoration: underline;
    text-decoration-color: var(--principal);
}

#educacion h3{
    color: var(--oscuro);
    font-weight: bold;
    font-size: large;
    text-align: center;
}

#educacion p, span, a{
    color: var(--principal-claro);
}

#educacion span{
    background-color: var(--fondo);
    border-radius: 5px 5px 5px 10px;
    box-shadow: 1px 5px 16px #888;
    padding: 5px;
    transition: all .5s ease;
}

#educacion span:hover{
    background-color: var(--oscuro);
    color: var(--mas-claro);
}

.est h3{
    font-size: x-large;
}

.ests{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto;
}

.est{
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    box-shadow: 1px 5px 16px #888;
    flex-direction: column;
    gap: 2px;
    height: 200px;
    justify-content: space-around;
}

.certs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: start;
    justify-content: space-around;
    gap: 20px;
    padding-right: 5px;
    margin: 20px 0px;
}

.cert{
    padding: 2px 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 100%;
    border-radius: 20px 20px 20px 60px;
    box-shadow: 1px 5px 16px #888;
    text-align: center;
}

.cert span{
    background-color: var(--fondo);
    border-radius: 5px 5px 5px 10px;
    box-shadow: 1px 5px 16px #888;
    padding: 5px;
    transition: all .5s ease;
}

.cert span:hover{
    background-color: var(--oscuro);
    color: var(--mas-claro);
}



@media (max-width: 1000px){
    .contenidoColumna{
        height: 100px;
    }

    .contenidoColumna h2{
        display: none;
        visibility: visible;
    }

    .bloque{
        display: flex;
        flex-direction: column;
    }

    .navbar{
        display: flex;
        flex-direction: row;
    }

    .contenidoColumna h1{
        display: none;
    }

    .columna{
        width: 100%;
    }

    .entero{
        padding: 10px 40px;
    }
    .estar{
        gap: 15px;
        display: flex;
        position: fixed;
        width: 34.06px;
        height: 200px;
        bottom: calc(50% - 100px);
        right: 10px;
        border-radius: 10px 10px 10px 20px;
        box-shadow: 1px 5px 16px #888;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 700px){
    .certs{
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 650px){
    
    .divPags{
        display: flex;
        position: fixed;
        right: 10px;
        bottom: 5px;
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
    
    .fotoYo{
        width: 200px
    }
       
}

@media (max-width: 553px){
    
    .contenidoColumna h2{
        display: inline;
    }

    .btn{
        display: inline;
    }

    .contenidoColumna{
        flex-direction: row;
    }

    .navbar {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenidoColumna nav{
        display: flex;
        position: fixed;
        height: calc(100vh - 140px);
        top: -100vh;
        background-color: var(--principal);
        width: 98%;
        flex: column;
        transition: all .4s;
        justify-content: center;
    }

    .contenidoColumna li{
        margin: 20px;
        color: #e9f8ff;
        font-size: x-large;
        font-weight: bold;
    }

    .contenidoColumna li:hover{
        background-color: var(--oscuro);
        color: var(--principal-claro);
    }

    .contenidoColumna .aparecer{
        top: 140px;
        border-radius: 60px 20px 20px 20px;
        box-shadow: -1px -5px 16px #888;
    }
}

@media (max-width: 475px){
    .tecnologia {
        display: none;
    }
    .imag{
        flex-wrap: wrap;
    }
}

@media (max-width: 450px){
    .certs {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 373px) {
    .martin{
        font-size: 45px;
    }

    .saludo{
        font-size: 25px;
    }
    
    #sobremi p {
        font-size: medium;
    }

    #sobremi h3 {
        font-size: large;
    }

    #educacion h2 {
        font-size: large;
    }

    .est {
        height: 250px;
    }

    .est h3{
        font-size: large;
    }

    .est p{
        font-size: small;
    }

    .cert p{
        font-size: small;
    }
}

@media (max-width: 370px){
    .bloque {
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
    background-color: var(--principal);
    width: 12px;
  }
  
  /* Estilo del pulgar */
  ::-webkit-scrollbar-thumb {
    background-color: var(--mas-claro);
    border-radius: 5px;
  }
  
  /* Estilo de la pista */
  ::-webkit-scrollbar-track {
    background-color: var(--principal);
  }